    <!-- Start Top Bar -->
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li><%= link_to 'Home', home_home_path %></li>
          <li><%= link_to 'Sign up', new_user_path %></li>
          <li><%= link_to 'Contact', home_contact_path %></li>
        </ul>
      </div>
    </div>
    <!-- End Top Bar -->


<h1>Contact Information</h1>

<p><b>Email:</b> a.perez136@usp.ceu.es</p>
<p><b>Telephone:</b> 000111222</p>

<%= link_to 'Back', home_home_path %>